<div class="container">  
<div class="jumbotron">  
<h1>Santiago Angel</h1>
<br />
<p>
<a href="https://twitter.com/SaintYagoEngel" title="@ Twitter"><i class="fa fa-twitter fa-lg"></i> @SaintYagoEngel</a>
<br />
<i class="fa fa-suitcase fa-lg"></i> Software Architect. /* Arquitecto de Software. */
<br />
<i class="fa fa-globe fa-lg"></i> México
<br />
<a href="https://www.github.com/santiagoangel" title="github repos"><i class="fa fa-github fa-lg"></i> github.com/santiagoangel</a>
</p>
</div>
</div>

