<div class="jumbotron">
  <h1>JEE7-angularjs</h1>
  <p class="lead">
    <i class="fa fa-html5 fa-5x"></i><br>
    JEE7 web application with REST WS for CRUD operations in the backend and AngularJS in the frontend.
  </p>
</div>

<h2>Control Panel</h2>
<div class="hero-unit">
    <p><span><a class="btn btn-lg btn-primary" ng-click="read()" title="NOT YET IMPLEMENTED.">CREATE <i class="fa fa-table"></i> </a></span> 
        <span><a class="btn btn-lg btn-success" ng-click="read()" title="Get customer data from WS.">READ <i class="fa fa-table"></i> </a></span> 
        <span><a class="btn btn-lg btn-info" ng-click="update();" title="Update customer.">UPDATE <i class="fa fa-table"></i> </a></span> 
        <span><a class="btn btn-lg btn-warning" ng-click="read()" title="NOT YET IMPLEMENTED.">DELETE <i class="fa fa-table"></i> </a></span> 
        <span><a class="btn btn-lg btn-success" ng-show="loading"><i ng-show="loading" class="fa fa-spin fa-refresh"></i></a></span>
        
    </p>
    <p class="alert alert-danger" ng-show="showerror"><span ng-show="showerror">{{errorMessage}} <i ng-show="showerror" class="fa fa-warning"></i></span></p>    
    
</div>


<div class="gridStyle" ng-grid="gridOptions"></div>

